@use "../collection" as col;

//Hero section
.hero_section {
  @include col.flex_display(map-get(col.$gaps, "sm"));
  align-items: center;

  &__info {
    @include col.flex_display(map-get(col.$gaps, "sm"));

    button {
      align-self: center;

      @media (min-width: map-get(col.$device_size, "tablet")) {
        align-self: start;
      }
    }
  }

  &__description {
    font-size: map-get(col.$font_size, "mid_bread");
  }

  &__img {
    width: 50%;
  }

  @media (min-width: map-get(col.$device_size, "tablet")) {
    flex-direction: row;
    justify-content: space-between;

    &__info {
      max-width: 410px;
      gap: map-get(col.$gaps, "lg");
    }

    &__img {
      max-width: 256px;
    }
  }

  @media (min-width: map-get(col.$device_size, "desktop")) {
    justify-content: center;

    &__info {
      max-width: 50%;
      gap: map-get(col.$gaps, "lg");
    }
  }
}