@use "./variable" as var;

@mixin flex_display($gap: map-get(var.$gaps, "xs"), $flex_d: column) {
  display: flex;
  flex-direction: $flex_d;
  gap: $gap;
}

@mixin deafult_font {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

@mixin deafult_section {
  padding: map-get(var.$gaps, "xl") map-get(var.$gaps, "sm");
  display: flex;
  justify-content: center;
}

@mixin button_type($hero: 0) {
  background: white;
  color: map-get(var.$colors, "dark_wine");
  height: fit-content;

  border-radius: map-get(var.$gaps, "lg") 0px map-get(var.$gaps, "lg") 0px;
  border: none;

  @include deafult_font;
  font-weight: bold;
  font-size: map-get(var.$font_size, "mid_bread");

  padding: map-get(var.$gaps, "sm");
  padding-inline: map-get(var.$gaps, "lg");

  box-shadow: map-get(var.$gaps, "xs") map-get(var.$gaps, "xs")
    map-get(var.$gaps, "xs") rgba(0, 0, 0, 0.25);

  &:hover,
  &:active {
    cursor: pointer;
    color: map-get(var.$colors, "light_wine");
    background-color: #d9d9d9;
  }

  @if $hero == 1 {
    font-size: map-get(var.$font_size, "big_bread");

    box-shadow: map-get(var.$gaps, "sm")
      map-get(var.$gaps, "sm")
      map-get(var.$gaps, "xs")
      rgba(0, 0, 0, 0.25);
  }
}
