$colors: (
  "gold": #E7CC66 ,
  "light_wine" : #50071F ,
  "dark_wine" : #4A061F ,
);

$font_type: "Instrument Serif";

$font_size: (
  "68px": 68px, 
  "68px": 47.78px, 
  "68px": 39.81px, 
  "68px": 19.2px, 
  "68px": 16px, 
);