@use "./collection" as col;

//Global styles
body,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  color: white;
  text-decoration: none;
  &:hover {
    color: map-get(col.$colors, "gold");
    text-decoration: underline;
  }
}

body {
  box-sizing: border-box;
  color: white;
  line-height: 1.4;
  @include col.deafult_font;
}

//Creats space for all sections
.section-style {
  @include col.deafult_section();

  &:nth-child(even) {
    background-color: map-get(col.$colors, "light_wine");
  }
  &:nth-child(odd) {
    background-color: map-get(col.$colors, "dark_wine");
  }
}

.section-style-deafult {
  @include col.deafult_section();
  background-color: map-get(col.$colors, "light_wine");
}

//Individual elements
//Container for width in diffrent devices
.container {
  width: 100%;
  @media (min-width: map-get(col.$device_size, "tablet")) {
    width: map-get(col.$device_size, "tablet");
  }

  @media (min-width: map-get(col.$device_size, "desktop")) {
    width: map-get(col.$device_size, "desktop");
  }
}

//Made for all the cards basic styling
.card {
  border: 1px solid white;
  border-radius: 10px;
  padding: map-get(col.$gaps, "md") map-get(col.$gaps, "sm");
  box-shadow: 0px map-get(col.$gaps, "xs") map-get(col.$gaps, "xxs")
    rgba(0, 0, 0, 0.25);
}

//Buttons as hero and deafult
.call_to_action {
  &-hero {
    @include col.button_type($hero: 1);
  }

  @include col.button_type();
  width: fit-content;
}

.menu_btn {
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid rgba(255, 255, 0, 0);
  border-radius: 10px;
  outline: none;

  &:hover {
    border: 2px solid rgb(255, 255, 255);
  }
}

//Input
.input {
  @include col.flex_display(map-get(col.$gaps, "xxs"));
  height: fit-content;
  box-sizing: border-box;

  input,
  textarea {
    box-sizing: border-box;
    font-family: Arial;
    font-size: map-get(col.$font_size, "bread");

    border-radius: 8px;
    border: none;
    box-shadow: 0px map-get(col.$gaps, "xs") map-get(col.$gaps, "xxs")
      rgba(0, 0, 0, 0.25);
    padding: map-get(col.$gaps, "xs") map-get(col.$gaps, "sm");
  }

  textarea {
    height: 150px;
    resize: none;
  }
}

.navigation_content {
  &__list {
    @include col.flex_display(map-get(col.$gaps, "lg"), row);
    flex-wrap: wrap;
    justify-content: center;
  }
}

.mobile_nav {
  width: 100%;
  padding: map-get(col.$gaps, "xl") 0;
  position: absolute;
  display: flex;
  background-color: map-get(col.$colors, "darker_wine");
  justify-content: center;
  border-bottom: 1px solid white;

  &__list {
    @include col.flex_display(map-get(col.$gaps, "lg"));
    text-align: center;
  }

  &__flex {
    display: flex;
    flex-direction: column;
    padding-inline: map-get(col.$gaps, "sm");
  }

  &__close {
    align-self: flex-end;
  }
}

//Heder and Footer
.header {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);

  &__content {
    @include col.flex_display(8px, row);
    align-items: start;
    justify-content: space-between;

    @media (min-width: map-get(col.$device_size, "desktop")) {
      align-items: center;
    }
  }

  &__navigation {
    display: none;
    @media (min-width: map-get(col.$device_size, "desktop")) {
      display: block;
    }
  }

  &__hamburgermenu {
    @media (min-width: map-get(col.$device_size, "desktop")) {
      display: none;
    }
  }
}

.footer {
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  gap: map-get(col.$gaps, "lg");
  align-items: center;
  flex-direction: column;

  &__content {
    display: flex;
    flex-direction: column;
    gap: map-get(col.$gaps, "sm");
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: map-get(col.$gaps, "xl");
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    padding-bottom: map-get(col.$gaps, "sm");

    @media (min-width: map-get(col.$device_size, "tablet")) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (min-width: map-get(col.$device_size, "desktop")) {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  &__head {
    @include col.flex_display(map-get(col.$gaps, "sm"));
    justify-self: center;
    align-items: center;
  }

  &__socials {
    @include col.flex_display(map-get(col.$gaps, "lg"), row);
  }

  &__nav {
    @include col.flex_display(map-get(col.$gaps, "sm"));
    align-items: center;
    margin: 0;
  }

  &__contact_us, &__subscripe {
    @include col.flex_display(map-get(col.$gaps, "sm"));
  }

}

//Sections
//Hero section
.hero_section {
  @include col.flex_display(map-get(col.$gaps, "sm"));
  align-items: center;

  &__info {
    @include col.flex_display(map-get(col.$gaps, "sm"));

    button {
      align-self: center;

      @media (min-width: map-get(col.$device_size, "tablet")) {
        align-self: start;
      }
    }
  }

  &__description {
    font-size: map-get(col.$font_size, "mid_bread");
  }

  &__img {
    width: 50%;
  }

  @media (min-width: map-get(col.$device_size, "tablet")) {
    flex-direction: row;
    justify-content: space-between;

    &__info {
      max-width: 410px;
      gap: map-get(col.$gaps, "lg");
    }

    &__img {
      max-width: 256px;
    }
  }

  @media (min-width: map-get(col.$device_size, "desktop")) {
    justify-content: center;

    &__info {
      max-width: 50%;
      gap: map-get(col.$gaps, "lg");
    }
  }
}

//Sales_section
.sales_section {
  @include col.flex_display(map-get(col.$gaps, "sm"));
  align-items: center;

  &__list {
    @include col.flex_display(map-get(col.$gaps, "sm"));

    @media (min-width: map-get(col.$device_size, "desktop")) {
      flex-direction: row;
    }
  }
}

.sales_card {
  @include col.flex_display(map-get(col.$gaps, "sm"));
  align-items: center;
}

//About_section
.about_section {
  @include col.flex_display(map-get(col.$gaps, "sm"));

  @media (min-width: map-get(col.$device_size, "tablet")) {
    gap: map-get(col.$gaps, lg);
  }

  @media (min-width: map-get(col.$device_size, "desktop")) {
    flex-direction: row;
    justify-content: center;
  }

  &__info {
    align-items: center;
    @include col.flex_display(map-get(col.$gaps, "sm"));

    @media (min-width: map-get(col.$device_size, "desktop")) {
      align-items: start;
      justify-content: center;
      width: 50%;
    }
  }

  &__img {
    align-self: center;
    width: 100%;
    border-radius: map-get(col.$gaps, "sm");

    @media (min-width: map-get(col.$device_size, "tablet")) {
      max-width: 500px;
    }
  }
}

//Testimonial_section
.testimonial_section {
  @include col.flex_display(map-get(col.$gaps, "xxl"));
  align-items: center;

  &__list {
    @include col.flex_display(map-get(col.$gaps, "xxl"));

    @media (min-width: map-get(col.$device_size, "desktop")) {
      flex-direction: row;
      gap: map-get(col.$gaps, "sm");
    }
  }
}

.testimonial_card {
  position: relative;

  @media (min-width: map-get(col.$device_size, "desktop")) {
    width: 350px;
  }

  @include col.flex_display();
  align-items: center;

  &__profile_pic {
    position: absolute;
    top: -75px;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    border: 2px solid white;
  }

  &__fullname {
    font-size: map-get(col.$font_size, "mid_bread");
    font-weight: bold;
    &::before {
      content: "— ";
    }
  }

  &__review {
    font-family: "Instrument Serif", serif;
    font-weight: bold;
    font-style: italic;

    font-size: map-get(col.$font_size, "big_head");
    display: block;
    height: 40px;
  }
}

//News_section
.news_section {
  @include col.flex_display(map-get(col.$gaps, "sm"));

  &__header {
    @include col.flex_display(map-get(col.$gaps, "sm"));
    align-items: center;

    @media (min-width: map-get(col.$device_size, "tablet")) {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__list {
    display: grid;
    justify-content: center;
    gap: map-get(col.$gaps, "md");
    //grid-template-columns: repeat(3, 1fr);
    grid-template-columns: repeat(auto-fit, 350px);
    //grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));

    @media (min-width: map-get(col.$device_size, "tablet")) {
      //grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: map-get(col.$device_size, "desktop")) {
      //grid-template-columns: repeat(3, 1fr);
    }
  }
}

.news_card {
  position: relative;
  padding: 0;
  height: fit-content;

  &__img {
    width: 100%;
    border-radius: 10px 10px 0 0;
    height: 50%;
  }

  &__info {
    padding: map-get(col.$gaps, "sm");
    overflow: hidden;
  }

  &__header {
    font-size: map-get(col.$font_size, "mid_bread");
    padding-bottom: map-get(col.$gaps, "sm");
  }

  &__body {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
  }

  //Hover effect
  &__hover {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;

    &:hover {
      opacity: 100%;
    }
  }

  &__link:hover {
    color: white;
    text-decoration: none;
  }

  &__text {
    position: absolute;
    z-index: 1;
    font-size: map-get(col.$font_size, "mid_bread");
    font-weight: bold;
    text-decoration: underline;

    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__hover_background {
    background-color: rgba(0, 0, 0, 0.77);
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }
}

//Faq_section
.faq_section {
  @include col.flex_display(map-get(col.$gaps, "sm"));
  &__list {
    display: grid;
    gap: map-get(col.$gaps, "md");

    @media (min-width: map-get(col.$device_size, "tablet")) {
      grid-template-columns: repeat(auto-fit, minmax(550px, 1fr));
    }
  }
}

.faq_card {
  @include col.flex_display(map-get(col.$gaps, "sm"));

  &__question {
    @include col.flex_display(map-get(col.$gaps, "md"));
    flex-direction: row;
    align-items: center;
    font-size: map-get(col.$font_size, "big_bread");

    img {
      width: 32px;
      border: 2px solid white;
      border-radius: 100%;
    }
  }
}

//Contact_section
.contact_section {
  &__content {
    @include col.flex_display(map-get(col.$gaps, "sm"));
    @media (min-width: map-get(col.$device_size, "desktop")) {
      flex-direction: row;
      gap: map-get(col.$gaps, "md");
    }
  }

  &__google_map {
    width: 100%;
    border: none;

    @media (min-width: map-get(col.$device_size, "desktop")) {
      width: 50%;
      height: auto;
    }
  }

  &__form {
    @include col.flex_display(map-get(col.$gaps, "sm"));
    button {
      align-self: center;
    }
    @media (min-width: map-get(col.$device_size, "desktop")) {
      width: 50%;
    }

    @media (min-width: map-get(col.$device_size, "desktop")) {
      button {
        align-self: start;
      }
    }
  }
}
