@use "./collection" as col;

//Global styles
body,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

body {
  box-sizing: border-box;
  color: white;
  line-height: 1.4;
  @include col.deafult_font;
}

//Creats space for all sections
section {
  padding: map-get(col.$gaps, "xl") map-get(col.$gaps, "sm");
  display: flex;
  justify-content: center;

  &:nth-child(even) {
    background-color: map-get(col.$colors, "light_wine");
  }
  &:nth-child(odd) {
    background-color: map-get(col.$colors, "dark_wine");
  }
}

//Individual elements
//Container for width in diffrent devices
.container {
  @media (min-width: map-get(col.$device_size, "tablet")) {
    width: map-get(col.$device_size, "tablet");
  }

  @media (min-width: map-get(col.$device_size, "desktop")) {
    width: map-get(col.$device_size, "desktop");
  }
}

//Made for all the cards basic styling
.card {
  border: 1px solid white;
  border-radius: 10px;
  padding: map-get(col.$gaps, "md") map-get(col.$gaps, "sm");
  box-shadow: 0px map-get(col.$gaps, "xs") map-get(col.$gaps, "xxs")
    rgba(0, 0, 0, 0.25);
}

//Buttons as hero and deafult
.call_to_action {
  &-hero {
    @include col.button_type($hero: 1);
  }

  @include col.button_type();
  width: fit-content;

  &:hover,
  &:active {
    cursor: pointer;
    color: map-get(col.$colors, "light_wine");
    background-color: #d9d9d9;
  }
}

//Sections
//Hero section
.hero_section {
  @include col.flex_display(map-get(col.$gaps, "sm"));
  align-items: center;

  &__info {
    @include col.flex_display(map-get(col.$gaps, "sm"));

    button {
      align-self: center;

      @media (min-width: map-get(col.$device_size, "tablet")) {
        align-self: start;
      }
    }
  }

  &__description {
    font-size: map-get(col.$font_size, "mid_bread");
  }

  &__img {
    width: 50%;
  }

  @media (min-width: map-get(col.$device_size, "tablet")) {
    flex-direction: row;
    justify-content: space-between;

    &__info {
      max-width: 410px;
      gap: map-get(col.$gaps, "lg");
    }

    &__img {
      max-width: 256px;
    }
  }

  @media (min-width: map-get(col.$device_size, "desktop")) {
    justify-content: center;

    &__info {
      max-width: 50%;
      gap: map-get(col.$gaps, "lg");
    }
  }
}

//Sales_section
.sales_section {
  @include col.flex_display(map-get(col.$gaps, "sm"));
  align-items: center;

  &__list {
    @include col.flex_display(map-get(col.$gaps, "sm"));

    @media (min-width: map-get(col.$device_size, "desktop")) {
      flex-direction: row;
    }
  }
}

.sales_card {
  @include col.flex_display(map-get(col.$gaps, "sm"));
  align-items: center;
}

//About_section
.about_section {
  @include col.flex_display(map-get(col.$gaps, "sm"));

  @media (min-width: map-get(col.$device_size, "tablet")) {
    gap: map-get(col.$gaps, lg);
  }

  @media (min-width: map-get(col.$device_size, "desktop")) {
    flex-direction: row;
    justify-content: center;
  }

  &__info {
    align-items: center;
    @include col.flex_display(map-get(col.$gaps, "sm"));

    @media (min-width: map-get(col.$device_size, "desktop")) {
      align-items: start;
      justify-content: center;
      width: 50%;
    }
  }

  &__img {
    align-self: center;
    width: 100%;
    border-radius: map-get(col.$gaps, "sm");

    @media (min-width: map-get(col.$device_size, "tablet")) {
      max-width: 500px;
    }
  }
}

//Testimonial_section
.testimonial_section {
  @include col.flex_display(map-get(col.$gaps, "xxl"));
  align-items: center;

  &__list {
    @include col.flex_display(map-get(col.$gaps, "xxl"));

    @media (min-width: map-get(col.$device_size, "desktop")) {
      flex-direction: row;
      gap: map-get(col.$gaps, "lg");
    }
  }
}

.testimonial_card {
  position: relative;

  @media (min-width: map-get(col.$device_size, "desktop")) {
    width: 350px;
  }

  @include col.flex_display();
  align-items: center;

  &__profile_pic {
    position: absolute;
    top: -75px;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    border: 2px solid white;
  }

  &__fullname {
    font-size: map-get(col.$font_size, "mid_bread");
    font-weight: bold;
    &::before {
      content: "— ";
    }
  }

  &__review {
    font-family: "Instrument Serif", serif;
    font-weight: bold;
    font-style: italic;

    font-size: map-get(col.$font_size, "big_head");
    display: block;
    height: 40px;
  }
}

.news_section {
  @include col.flex_display(map-get(col.$gaps, "sm"));

  &__header {
    @include col.flex_display(map-get(col.$gaps, "sm"));
    align-items: center;
    
    @media (min-width: map-get(col.$device_size, "tablet")) {
      flex-direction: row;
      justify-content: space-between;  
    }
  }

  &__list {
    display: grid;
    gap: map-get(col.$gaps, "md");

    @media (min-width: map-get(col.$device_size, "tablet")) {
      grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    }
  }
}

.news_card {
  padding: 0;

  &__img {
    width: 100%;
    border-radius: 10px 10px 0 0;
  }

  &__info {
    padding: 8px;
  }

  &__header {
    font-size: map-get(col.$font_size, "mid_bread");
    padding-bottom: map-get(col.$gaps, "sm");
  }
}
